

div.galery{
    margin: 10px 20px;
    box-shadow: 0 40px 8px 0 lightskyblue;
    float: left;
    width: 350px;
}

div.galery img{
    width: 100%;
    height: auto;
}

div.galery:hover{
    border: 1px solid lightsalmon;
    transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}